.Footer {
  padding: 1.5rem 0;
  border-top: 1px solid #282f44;
  background: #191d32;
  color: #f3efe0;

  & > span {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
}
